/*/* ------------HEADER------------------- */

@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
  margin: 0%;
}

body {
  font-family: 'Poppins';
}


.header {
  display: flex;
  width: 100%;
  height: 100px;
  /* justify content distribueix els elements horitzontalment */
  justify-content: space-between;
  /* alinear els continguts verticalment amb align items */
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  padding: 0 20px;
  /* padding per donar espai als costats */
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: inherit;
}

/* amplada perquè ocupi el necessari, marge dreta per alinear la navbar a la dreta */
#logo {
  width: 120px;
  margin-right: 60rem;
}

/* ul flex pq els elements no s'apilin, gap per distanciar els elements entre ells */
ul {
  display: flex;
  gap: 20px;
}

/* Fer desapareixer punts dels li */
li {
  display: flex;
}

/* Links sense subrallar ni negre */
a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

/* ------------hero------------------- hero section, concretament hero image: una imatge de fons amb poc text i potser un botó*/


.cover {
  background-image: url("../images/landing.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Posicionament absolut per centrar el text vertical i horitzontalment */
.hero {
  position: absolute;
  top: 40%;
  left: 50%;
  color: white;
  transform: translateX(-50%);
  /* height: 100%; */
}


.hero__header {
  font-size: 300%;
}

.hero__p {
  text-align: center;
}

/* ------------features------------------- */
/* Cada div ocupa un terç del contenidor */
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.features__div {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 33.33%;
  align-items: center;
  padding: 20px;

}

.features__h2 {
  text-align: center;
  font-size: xx-large;
}

#sound__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  overflow: hidden;
  margin: 0px 150px;
  height: auto;
}

#high__quality {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  overflow: hidden;
  margin: 0px 150px;
  height: auto;
}

#devices {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  overflow: hidden;
  margin: 0px 150px;
  height: auto;
}

/* Max width 100% perquè sinó apareix scroll horitzontal */
#sound__icon,
#high__quality,
#devices {
  max-width: 100%;
  margin: 0 auto;
}

.features__header {
  color: #1AB26B;
  text-align: center;
}

.features__div img {
  display: flex;
  width: auto;
  height: auto;
  margin-bottom: 15px;
 
}

/* /* ------------ACTIONS------------------- */

.actions {
  color: white;
  background-color: #1AB26B;
  padding: 3rem;
  background: #1AB26B url(../images/spotify-app.jpg) no-repeat 90% center / 200px;
  position: relative;

}

.actions__title {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}

.actions>article {
  margin-top: 3rem;
  width: 50%;
  max-width: 300px;
}

.spotify-icon {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}